---
title: Posts
layout: default
tab: posts
blogdir: true
---
{% assign posts = site.posts | where: "lang", page.lang %}

<h1>Latest Posts</h1>

<ul class="presentation-list list-unstyled">
{% for post in site.posts %}
  <li class="presentation no-bullets">
    <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
    <a href="{% if post.external %}{{ post.blog_link }}{% else %}{{ post.url }}{% endif %}" target="_blank">{{ post.title }} {% if post.external %}⇖ {% endif %}</a>
    {% if post.external %}<small>{{ post.blog }}</small>{% endif %}
  </li>
{% endfor %}
</ul>

<!-- 
<ul>
  {% for post in site.posts %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul> -->