---
title: Posts
layout: default
tab: posts
description: Collection of all blog posts from CS Resources
blogdir: true
---
{% assign posts = site.posts | where: "lang", page.lang %}

<h1>Latest Blog Posts from CS Resources: </h1>

<ul class="presentation-list list-unstyled no-bullets">
{% for post in site.posts %}
  <li class="presentation">
    <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
    <a href="{% if post.external %}{{ post.blog_link }}{% else %}{{ post.url }}{% endif %}" target="_blank">{{ post.title }} {% if post.external %}⇖ {% endif %}</a>
    {% if post.external %}<small>{{ post.blog }}</small>{% endif %}
  </li>
{% endfor %}
</ul>

<br/>

<p>You can also subscribe via your favorite <a href="{{ site.url }}/atom.xml" target="_blank">RSS Reader</a> to my feed!</p>
