<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
<!-- {% include head-custom-google-analytics.html %} -->

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<link rel="shortcut icon" type="image/ico" href="https://www.aviparshan.com/favicon.ico">
<meta name="yandex-verification" content="94b0b6e1735194dd" />
<script data-goatcounter="https://avigit.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

{% if page.external %}<meta name="robots" content="noindex nofollow"><link rel="canonical" href="{{ post.blog_link }}">
{% endif %}
<!-- end custom head snippets -->