---
layout: default
---
<h1>{{ page.title }}</h1> 

{{ content }}

{% if page.date %}
<div class="date">
   <small> Updated on {{ page.date | date: "%B %e, %Y" }} </small>
</div>
{% endif %}
<!-- <a onclick="window.history.back()">Go Back</a> -->

<!-- {% if page.tags %}
<small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %} -->

<!-- {% if page.tags %}
<p>Tags:</p>
{% for tag in page.tags %}
<a href="https://cs.aviparshan.com/tags#{{ tag }}"><code class="highligher-rouge"><nobr>{{ tag }}</nobr></code></a>
{% endfor %}
{% endif %} -->

<!-- <p>Permalink: <a href="{{ page.url | absolute_url }}" target="_blank">{{ page.url | absolute_url }}</a></p> -->