<!-- ---
layout: default
---
<article class="post">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

 </article>  -->

---
layout: default
---

<nav>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
      {{ item.name }}
    </a>
  {% endfor %}
</nav>

<article class="post">

  <h1>{{ page.title }}</h1>

  <!-- <small>{{ page.date | date: "%-d %B %Y" }}</small> -->
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <p class="view">by {{ page.author | default: site.author }}</p>

  <div class="entry">
    {{ content }}
  </div>

  <a onclick="window.history.back()">Go Back</a>

  {% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
  {% endif %}

  <noscript>
    <img src="https://avigit.goatcounter.com/count?p=/noscript-post">
    </noscript>

    <p>&copy; 2022 Avi Parshan</p>

</article>