---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <h1>{{ page.title }}</h1> 
  <!-- fix seo issue with multiple h1s -->
  <!-- <small>{{ page.date | date: "%-d %B %Y" }}</small> -->
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <p class="view">by {{ page.author.name | default: site.author.name }}</p>

  <div class="entry">
    {{ content }}
  </div>

  {% if page.tags %}
  <p>Tags:</p>
  {% for tag in page.tags %}
  <a href="https://cs.aviparshan.com/tags#{{ tag }}"><code class="highligher-rouge"><nobr>{{ tag }}</nobr></code></a>
  {% endfor %}
  {% endif %}
  <!-- {% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
  {% endif %} -->

  <br/>

  
  <!-- <a onclick="window.history.back()">Go Back</a> -->

  <!-- <a class="u-url" href="{{ post.url | relative_url }}" hidden></a> -->

  <!-- <p>&copy; 2022 Avi Parshan</p> -->

</article>